
<div style="height: 100%; width: 100%; padding:20px; text-align:center; border: 10px solid #787878; box-sizing: border-box;">
    <div style="padding:20px; padding-top: 80px; text-align:center; border: 5px solid #787878; height: 100% ; box-sizing: border-box;">
           <span style="font-size:80px; font-weight:bold;">Certificate of Participation</span>
           <br><br>
           <span style="font-size:25px"><i>This is to certify that</i></span>
           <br><br>
           <span style="font-size:70px"><b>{{name}}</b></span><br/><br/>
           <span style="font-size:25px"><i>has participated in the learning of the skill at</i></span> <br/><br/>
           <span style="font-size:40px; font-weight: 500">{{department}}</span> <br/><br/>
           <span style="font-size:25px">booth at</span> <br/><br/>
           <span style="font-size:40px"><b>Heart's 40<sup>th</sup> Anniversary Event</b></span> <br/><br/><br/><br/>
           <span style="font-size:25px"><i>dated</i></span><br><br><br>


           <span style="font-size:35px"><i>{{date}}</i></span><br>
            
          <span style="font-size:30px"></span>
    </div>
    </div>